h1{
  font-size: 5rem;
  color:#a7d129;
}
body{
  background-color: #1b1919;
  text-align: center;
  font-family: "Press Start 2P";
}
table{
  margin: auto;
}
footer{
  background-color: #010101;
  font-size: 0.8rem;
  color:white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.container{
  display:block;
  margin:auto;
}
.row{
  margin: auto;
}
.box{
  margin: 10px;
  height: 200px;
  width: 200px;
  border: 10px solid #010101;
  border-radius: 20%;
}
.btn{
  padding:10px;
  margin: 10px;
}
.red{
background-color: #EA4335
}
.yellow{
  background-color: #FBBC05;
}
.green{
  background-color: #34A853;
}
.blue{
  background-color: #4285F4;
}
.red-pressed{
background-color: #FFAC9A;
border: 10px solid #F68271;
}
.yellow-pressed{
background-color: #FFFF5B;
border: 10px solid #FDE83D;
}
.green-pressed{
background-color: #9AFBBE;
border: 10px solid #6DD98F;
}
.blue-pressed{
background-color: #ABE9FF;
border: 10px solid #7EC0FB;
}
